<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CPLearning.Mapper.CommonMapper">
	<select id="getApiKey" resultType="CPLearning.Entity.ApiKeyInfo">
		SELECT * FROM APIKEY
	</select>

	<select id="studentLogin" resultType="CPLearning.Entity.StudentInfo">
		SELECT * FROM STUDENTINFO
		WHERE STUDENTNO = #{studentNo} AND PASSWORD = #{password}
	</select>
	
	<select id="selectLoginHistory" resultType="CPLearning.Entity.StudentInfo">
		SELECT * FROM LOGINHISTORY
		WHERE STUDENTNO=#{studentNo}
		ORDER BY LOGINTIME DESC
	</select>

	<insert id="insertLoginHistory" parameterType="CPLearning.Entity.StudentInfo">
		INSERT INTO LOGINHISTORY
		VALUES (#{studentNo}, #{loginIP}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
</mapper>